# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env

# Django database
db.sqlite3

# Django uploaded media
media/

# Django collected static files
staticfiles/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db